@{
  Layout = "_Layout";
}

@model SillyStringz.Models.Machine
<h4>Add a new machine</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  @Html.LabelFor(model => model.MachineDetails)
  @Html.EditorFor(model => model.MachineDetails)

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add new machine" class="btn btn-secondary" />
}
<p>@Html.ActionLink("Back to machines page", "Index")</p>